{% extends 'leiaute.twig' %}

{% block conteudo %}
<div class="container">
  <div class="row">
        <header>
            <h2><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Área restrita</h2>
            <span>o lugar para gerenciar pessoas, ações sociais, turmas e atendimentos</span>
        </header>
    </div>
    <br><br>
    <div class="row slideanim text-center">
        <a href="/voluntario">
            <div class="col-sm-4">
                <span class="fa fa-vcard-o fa-3x"></span>
                <h4 style="color:#303030;">Voluntário</h4>
                <p>pessoas que prestam o serviço social</p>
            </div>
        </a>
        <a href="/responsavel">
            <div class="col-sm-4">
                <span class="fa fa-users fa-3x"></span>
                <h4>Responsável</h4>
                <p>adultos atendidos pela instituição ou responáveis por menores de idade</p>
            </div>
        </a>
        <a href="/menor">
            <div class="col-sm-4">
                <span class="fa fa-user fa-3x"></span>
                <h4>Menor</h4>
                <p>jovens atendidos pela casa</p>
            </div>
        </a>
    </div>
    <br><br>
    <div class="row slideanim text-center">
        <a href="/acao">
            <div class="col-sm-4">
                <span class="fa fa-leaf fa-3x"></span>
                <h4>Ação</h4>
                <p>ações sociais oferecidas pela instituição</p>
            </div>
        </a>
        <a href="/turma">
            <div class="col-sm-4">
                <span class="fa fa-graduation-cap fa-3x"></span>
                <h4>Turma</h4>
                <p>ação social realizada em grupo como aulas, oficinas e palestras</p>
            </div>
        </a>
        <a href="/atendimento">
            <div class="col-sm-4">
                <span class="fa fa-user-md fa-3x"></span>
                <h4>Atendimento</h4>
                <p>ação social individual como atendimentos por médicos, psicólogos, dentistas, advogados ou empreendedores</p>
            </div>
        </a>
    </div>
    <br><br>
    <div class="row slideanim text-center">
        <a href="{{ app.url_generator.generate('tipoCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-gear fa-3x"></span>
                <h4>Configuração</h4>
                <p>Cadastre os tipos de pessoas ou de ação que o serão usados em outros cadastros...</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}