{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="fa fa-graduation-cap" aria-hidden="true"></span>&nbsp;Frequência</h2>
                <small>frequência dos usuários que participam de ações em grupo como: aulas, oficinas e palestras</small>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('frequenciaSalvar')}}" method="POST">
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Ação social</b></legend>
                    <div class="form-group">
                        <select class="form-control" id="acao" name="acao" required>
                            <option value="">Selecione</option>
                            {% for acao in acoes %}
                            <option value="{{ acao.id }}">{{ acao.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <fieldset>
                        <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados da ação social</b></legend>
                            <div class="form-group col-sm-6">
                                <label for="voluntario">Voluntário</label>
                                <input type="text" name="voluntario" id="voluntario" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="entrada">Entrada</label>
                                <input type="text" name="entrada" id="entrada" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="saida">Saída</label>
                                <input type="text" name="saida" id="saida" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="situacao">Situação</label>
                                <input type="text" name="situacao" id="situacao" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="dia">Dia</label>
                                <input type="text" name="dia" id="dia" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="turno">Turno</label>
                                <input type="text" name="turno" id="turno" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="inicio">Início</label>
                                <input type="text" name="inicio" id="inicio" class="form-control" readonly>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="termino">Término</label>
                                <input type="text" name="termino" id="termino" class="form-control" readonly>
                            </div>
                        </legend>
                    </div>
                    <div class="row">
                        <table class="table table-responsive table-hover">
                        <caption>Registre a frequência</caption>
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-sm-5">Usuário</th>
                                    <th class="col-sm-4">Responsável</th>
                                    <th class="col-sm-2"><center>Dia</center></th>
                                    <th class="col-sm-1"><center>Certificado</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for usuario in turma %}
                                    <td>usuario.nome</td>
                                    <td>usuario.responsavel</td>
                                    <td><input type="date" id="dataFrequencia" class="form-control" placeholder="dd/mm/aaaa" required></td>
                                    <td><a href="{{ path('frequenciaCertificar',{'acao':acao.id, 'usuario':usuario.id}) }}"><span class="text-center glyphicon glyphicon-certificate"></span></a></td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> Salvar</i>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"> Limpar</i>
                    </button>
                </div>
                <input type="hidden" id="tipo" value="VOL">
            </form>
        </div>
    </div>
{% endblock %}
