{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="fa fa-leaf" aria-hidden="true"></span>&nbsp;Ação social</h2>
                <small>ações sociais oferecidas pela instituição</small>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('acaoSalvar')}}" method="POST">
                <div class="form-group form-check-inline">
                    <label class="form-check-label">Atendimento
                        <input type="radio" id="tipo_acao" name="tipo_acao" class="form-check-input" value="A" checked="true">
                    </label>
                    <label class="form-check-label">Turma
                        <input type="radio" id="tipo_acao" name="tipo_acao" class="form-check-input" value="T">
                    </label>
                </div>
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados básicos</b></legend>
                    <div class="form-group col-sm-6">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" class="form-control" placeholder="O nome da ação social" autofocus required>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="inicio">Início</label>
                        <input type="date" id="inicio" class="form-control" placeholder="dd/mm/aaaa" required>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="termino">Término</label>
                        <input type="date" id="termino" class="form-control" placeholder="dd/mm/aaaa" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="publico-alvo">Público-alvo</label>
                        <input type="text" id="publico-alvo" class="form-control" placeholder="adolescentes, maiores de 12 anos e de ambos os sexos">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pre-requisito">Pré-requisito</label>
                        <input type="text" id="pre-requisito" class="form-control" placeholder="estar na 4ª série, ter feito informática básica">
                    </div>
                    <div class="form-group">
                        <label for="voluntario">Voluntário</label>
                        <select class="form-control" id="voluntario" required>
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset disabled>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Usuários</b></legend>
                    <div class="form-group">
                        <select class="form-control" id="usuario" required>
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </fieldset>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> Cadastrar</i>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"> Limpar</i>
                    </button>
                </div>
                <input type="hidden" id="tipo" value="VOL">
            </form>
        </div>
        {% if mensagem is defined %}
        <div class="row alert alert-success">
            {{ mensagem }}
        </div>
        {% endif %}
    </div>
{% endblock %}
