{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Voluntário</h2>
                <small>pessoas que prestam o serviço social</small>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmTipo" action="{{ path('tipoSalvar')}}" method="POST">
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados pessoais</b></legend>
                    <div class="form-group col-sm-8">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" class="form-control" placeholder="Seu nome completo" autofocus required>
                    </div>
                    <div class="form-group form-check-inline col-sm-3 col-sm-offset-1">
                        <label for="genero" class="form-check-label">Gênero</label><br />
                        <label class="form-check-label">M
                            <input type="checkbox" id="genero" class="form-check-input" value="M">
                        </label>
                        <label class="form-check-label">F
                            <input type="checkbox" id="genero" class="form-check-input" value="F">
                        </label>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group col-sm-3">
                        <label for="dataNascimento">Nascimento</label>
                        <input type="date" id="dataNascimento" class="form-control" placeholder="dd/mm/aaa" required>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="numRG">RG</label>
                        <input type="number" id="numRG" class="form-control" placeholder="9999999" required>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="numCPF">CPF</label>
                        <input type="number" id="numCPF" class="form-control" placeholder="999.999.999-99" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="naturalidade">Naturalidade</label>
                        <input type="text" id="naturalidade" class="form-control" placeholder="Brasília" required>
                    </div>
                </fieldset>
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados do voluntário</b></legend>
                    <div class="form-group col-sm-6">
                        <label for="profissao">Profissão</label>
                        <input type="text" id="profissao" class="form-control" placeholder="Em que vc trabalha" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="conhecimento">Conhecimentos</label>
                        <textarea class="form-control" id="conhecimento" rows="5"></textarea>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-check form-check-inline col-sm-8">
                        <label class="form-check-label">Estado Civil</label><br />
                        <label class="form-check-label">Solteiro
                            <input type="checkbox" id="estadoCivil" class="form-check-input" value="S">
                        </label>
                        <label class="form-check-label">Casado
                            <input type="checkbox" id="estadoCivil" class="form-check-input" value="C">
                        </label>
                        <label class="form-check-label">Divorciado
                            <input type="checkbox" id="estadoCivil" class="form-check-input" value="D">
                        </label>
                        <label class="form-check-label">Viúvo
                            <input type="checkbox" id="estadoCivil" class="form-check-input" value="V8">
                        </label>
                    </div>
                    <div class="form-group form-check-inline col-sm-4">
                        <label for="assinouTermo" class="form-check-label">Assinou o termo</label><br />
                        <label class="form-check-label">Sim
                            <input type="checkbox" id="assinouTermo" class="form-check-input" value="S">
                        </label>
                        <label class="form-check-label">Não
                            <input type="checkbox" id="assinouTermo" class="form-check-input" value="N">
                        </label>
                    </div>
                </fieldset>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> Cadastrar</i>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"> Limpar</i>
                    </button>
                </div>
                <input type="hidden" id="tipo" value="VOL">
            </form>
        </div>
        {% if mensagem is defined %}
        <div class="row alert alert-success">
            {{ mensagem }}
        </div>
        {% endif %}
    </div>
{% endblock %}
