{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Configuração</h2>
                <span>ex: voluntário, responsável, menor, administrativo, gestor</span>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('tipoSalvar')}}" method="POST">
                <fieldset>
                    <div class="form-group col-sm-6">
                        <label for="descricao">Descrição</label>
                        <input type="text" id="descricao" class="form-control" placeholder="Voluntário" autofocus required>
                    </div>
                    <div class="form-group col-sm-2 col-sm-offset-2">
                        <label for="grupo">Grupo
                            <span data-toggle="tooltip" data-placement="right" title="3 letras maiúsculas" class="glyphicon glyphicon-question-sign"></span> 
                        </label>
                        <input type="text" name="grupo" class=" form-control" placeholder="VOL" required>
                    </div>
                    <div class="form-group col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"> Cadastrar</i>
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"> Limpar</i>
                        </button>
                    </div>
                </fieldset>
            </form>
            {% if resultado is defined %}
            <div class="col-sm-12 text-center alert alert-success">
                {{ resultado }}
            </div>
            {% endif %}
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <table class="table table-responsive table-hover">
            <caption>Configurações cadastradas</caption>
                <thead class="thead-light">
                    <tr>
                        <th class="col-sm-7">Descrição</th>
                        <th class="col-sm-2">Grupo</th>
                        <th class="col-sm-1"><center>Alterar</center></th>
                        <th class="col-sm-1"><center>Excluir</center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Voluntário</td>
                        <td>VOL</td>
                        <td><center><span class="glyphicon glyphicon-pencil"></span></center></td>
                        <td><center><span class="glyphicon glyphicon-trash"></span></center></td>
                    </tr>
                    <tr>
                        <td>Responsável</td>
                        <td>RES</td>
                        <td><center><span class="glyphicon glyphicon-pencil"></span></center></td>
                        <td><center><span class="glyphicon glyphicon-trash"></span></center></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
{% endblock %}
