{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Algumas dicas de tarefas para serem trabalhadas com seu filho ou filha, conforme a idade:</p>
            <div class="col-lg-10 col-lg-offset-2 col-md-11 col-md-offset-1">
                <div class="col-lg-6 col-md-6">
                    <h4 class="post-title">Higiene</h4>
                    <p class="post-meta">Escovar os dentes <br /> Passar fio dental <br /> Usar enxaguante<br />Tomar banho<br /></p>
                    <h4 class="post-title">Comportamento</h4>
                    <p class="post-meta">Obedecer ao responsável<br />Não gritar ou pedir coisas chorando <br /> Não responder <br /> Não falar palavrão<br /> Não brigar com o irmão (ã)<br />Ser educado com as pessoas<br />Não usar eletrônicos à mesa</p>
                    <h4 class="post-title">Escola</h4>
                    <p class="post-meta">Estudar XX minutos por dia<br />Fazer o dever <br /> Ler um livro / gibi <br /> Ler um livro / gibi em outro idioma<br />Ir ao escoteiro</p>
                    <h4 class="post-title">Casa</h4>
                    <p class="post-meta">Arrumar o quarto<br />Pôr à mesa <br />Lavar a louça <br />Arrumar a cama<br />Tirar o lixo<br />Lavar o carro<br />Limpar o chão</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h4 class="post-title">Autonomia</h4>
                    <p class="post-meta">Acordar sozinho(a) <br />Arrumar sua mochila<br />Fazer seu café da manhã<br />Ajudar a fazer comida<br />Domir no horário<br />Não deixar suas coisas espalhadas<br />Vestir-se sozinho</p>
                    <h4 class="post-title">Exercício</h4>
                    <p class="post-meta">Ir brincar na rua<br /> Jogar bola<br />Jogar games que exijam movimento<br />Ir acampar</p>
                    <h4 class="post-title">Refeição</h4>
                    <p class="post-meta">Comer fruta <br />Comer verdura <br /> Comer legume <br /> Comer ao menos 4 tipos de alimentos<br />Comer à mesa</p>
                    <h4 class="post-title">Espiritualidade</h4>
                    <p class="post-meta">Rezar antes das refeições <br /> Rezar antes de dormir <br /> Ir ao culto</p>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}