{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="text-center"><img src="{{ asset('logo_casa_sao_jose.jpg', 'img') }}"></div>
            <p>
                A <b>Associação Cristã do Lago Norte - ACLN</b> é uma instituição sem fins lucrativos,
                com o propósito de oferecer serviços de proteção social, incentivo à escolaridade, arte, cultura e 
                qualificação profissional.
            </p>
            <p>
                Foi fundada em 20 de maio de 1982 pelo Padre Gustavo Desjardins. Seu atual presidente é o Padre Norbey Londoño Buitrago,
                Pároco da Igreja Nossa Senhora do Lago.
            </p>
            <div class="col-sm-6">
                <h2 class="post-title">Nossa missão</h2>
                <p>
                    <p>Promover a inclusão social de jovens e adultos por meio de ações socioeducativas, mediação de acesso e integração à saúde
                    profissionalização, bem-estar e ao fortalecimento de vínculos.</p>
                </p>
            </div>
            <div class="col-sm-6">
                <h2>Nossos valores</h2>
                <ul>
                    <li>Família - nosso berço e refúgio</li>
                    <li>Confiabilidade - entre os membros da família</li>
                    <li>Comprometimento - dos voluntários com cada um daqueles que assistimos</li>
                    <li>Flexibilidade -  em buscar soluções para problemas complexos</li>
                    <li>Excelência - em proporcionar o melhor de forma gratuita</li>
                    <li>Responsabilidade social - para fazer do Varjão e comunidades vizinhas um lugar melhor</li>
                </ul>
            </div>
        </div>
        <div class="row form-group col-sm-12 text-center">
            <a href="{{ app.url_generator.generate('nossoImpacto') }}">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-tint"> Conheça o nosso impacto</i>
                </button>
            </a>
        </div>
    </div>    
 {% endblock %}