{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>
                Bem-vindo pai, mãe, avô, avó, tio, tia, padrinho, madrinha ...<br />
                O <b>brinquecoin</b> é um quadro de tarefas que desafia seu filho ou filha e recompensa o esforço deles.<br />
            </p>
            <div class="col-lg-12 col-md-12 col-12" >
                <div class="col-lg-6 col-md-6 col-6" >
                    <h2 class="post-title">Reforço positivo</h2>
                    <p>
                        <p>Não acreditamos na recompensa pela recompensa. Acreditamos que precisamos do reforço positivo para transformar um comportamento ou criar um hábito<br />em nossas crianças e jovens.</p>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-6" >
                    <h2>Benefícios</h2>
                    <p>
                       Quem usa o brinquecoin tem...<br /> 
                       Crianças e jovens mais organizados, confiantes e superando desafios de forma lúdica<br />
                       Acompanhamento pelos pais mesmo à distância<br />
                       Uma ótima forma de interação com seu filho<br />
                       Mudanças visíveis já no primeiro mês
                   </p>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" >
                <h2>Regras do Jogo</h2>
                <p>
                    Escolha tarefas que corrijam ou aperfeiçoem um comportamento.<br />
                    Reserve um horário, antes de dormir, para conversar e preencher o quadro.<br />
                    Estabeleça metas semanais e comemore as conquistas. Apresente as consequências também.<br />
                    Não ceda às pressões. O adulto é você. Cara feia passa, um mau comportamento pode durar a vida toda.<br />
                    A quantidade de tarefas deve ser próxima à idade da criança até o limite de 8 por dia.<br />
                </p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" >
                <h2>Veja como funciona</h2>
                <img class="img-responsive" src="{{ asset('quadro.png', 'img') }}">
                <br />
            </div>
        </div>
    </div>    
 {% endblock %}

{% block rodape %}
<footer class="intro-header" style="background-image: url({{ asset('idealizadores.jpg', 'img') }})">
    <div>
        <h2 style="color:white; text-align:center">Os idealizadores</h2>
        <h3 style="color:white; text-align:left">&nbsp;João Paulo,<br />&nbsp;pai do Johny,<br />&nbsp;do Dudu, analista de<br />&nbsp;sistemas e escoteiro</h3>
        <h3 style="color:white; text-align:right">Isabela,&nbsp;<br />mãe da Lena,&nbsp;<br />dançarina e&nbsp;<br />analista de projetos&nbsp;</h3>
    </div>
</footer>
{% endblock %}

