{% extends 'leiaute.twig' %}

{% block topo %}
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <header>
                    <h2 class="text-center"></span>&nbsp;Prestação de contas anual</h2>
                </header>
                <p>
                    A <b>Casa São José</b> inscrita sob o CNPJ: <b>999.999.0001/99</b>, presidida por 
                    <b>Pe. Norbey Londono Buitrago</b> declara para os devidos fins que
                    as informações abaixo são verdadeiras e dizem respeito ao ano de <b>2017</b>.
                </p>
                <table class="table table-responsive table-hover">
                    <caption>Impacto social</caption>
                        <thead class="thead-light">
                            <tr>
                                <th class="col-sm-5">Item</th>
                                <th class="col-sm-5">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Administrativo</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Voluntários</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Ações sociais</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Usuários</td>
                                <td>129</td>
                            </tr>
                            <tr>
                                <td>Homens</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>Mulheres</td>
                                <td>49</td>
                            </tr>
                            <tr>
                                <td>Adolescentes</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Crianças</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>Bebês</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                </table>              
            </div>
        </div>        
    </div>
{% endblock %}

{% block rodape %}
<p class="text-center">
    Emitido por <b>Fulano de Tal</b> as 21:43 do dia 10/04/2018
</p>
{% endblock rodape %}

{% block contato %}
{% endblock contato %}
