{% extends 'leiaute.twig' %}

{% block topo %}
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <header>
                    <h2 class="text-center"></span>&nbsp;Acordo de Trabalho de Voluntariado</h2>
                </header>
                <p>
                    A <b>Casa São José</b> inscrita sob o CNPJ: <b>999.999.0001/99</b>, presidida por 
                    <b>Pe. Norbey Londono Buitrago</b> declara para os devidos fins que
                    as informações abaixo são verdadeiras e dizem respeito ao ano de <b>2017</b>.
                </p>
            </div>
        </div>        
    </div>
{% endblock %}

{% block rodape %}
<p class="text-center">
    Emitido por <b>Fulano de Tal</b> as 21:43 do dia 10/04/2018
</p>
{% endblock rodape %}

{% block contato %}
{% endblock contato %}
